/*

An ebook stylsheet for Writer As A Stranger

Ian Hocking 2013

*/
p
{
	text-indent:1em;
	margin-top:0;
	margin-bottom:0;
    font-size: 12pt;
    line-height: 200%;
}

h1
{
    font-size: 15pt;
}
h2
{
    font-size: 13pt;
}
h1, h2
{
	text-align:center;
	text-indent:0;
	margin-top:0;
}
h3
{
	text-align:center;
	text-indent:0;
	margin-top:0;
    page-break-before: always;
}

A:link
{
	color:#0000ff;
}

hr {
  margin-top: 3em;
  border: none; 
}

h4 {
    margin-top: 1em;
	text-align: center;
}

h5 {
	text-align: center;
	height: 1em;
}

#wrapper img {
  max-width: 100%;
  height: auto; }

blockquote p {
  margin-top: 0.5em;
  text-indent: 0;
  font-style: italic; }

blockquote+p {
  margin: 0; 
  text-indent: 0;
  }

h2+p {
  margin: 0; 
  margin-top: 4em;
  text-indent: 0;
  }

h3+p, h4+p, h5+p {
  margin: 0; 
  text-indent: 0;
  }
